@model IEnumerable<Review>

<link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
<script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>


<div class="mt-4">
    <a asp-action="Create" class="btn btn-primary">✍️ Написать отзыв</a>
</div>
<h2>Список отзывов</h2>

<table>
    <thead>
        <tr>
            <th>Название компании</th>
            <th>Адрес</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr onclick="location.href='@Url.Action("Details", new { id = review.Id })'">
                <td>@review.OrganizationName</td>
                <td>@review.Address</td>
                <td>@review.Rating</td>
            </tr>
        }
    </tbody>
</table>

<button id="loadMore">Загрузить еще отзывы</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let page = 2;
        $('#loadMore').click(function () {
            $.get('@Url.Action("Index")', { page: page }, function (data) {
                $('tbody').append(data);
                page++;
            });
        });
    });
</script>
